@charset "utf-8";
/* CSS Document */  
body{
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
}

h1, h2 {
color: #007e7e;
}
h1 {
    font-size: 150%;
}
h2 {
    font-size: 130%;
}
#garantia{
	line-height: 1.9em;
	font-style: italic;
	font-family: Georgia, 'Times New Roman', Times, serif;
	color: #444444;
	border-color: #9e0d0d;
    border-style: dashed;
	border-width: 1px;
    background-image: url("images/background.gif");
    background-color: #a7cece;
    padding: 25px;
    padding-left: 80px;
    margin: 30px;
    margin-right: 250px;
    background-repeat: no-repeat;
} 


